.start-btn-container {
  height: 100%;
  display: grid;
  place-content: center;
  background-color: rgb(44, 47, 87);
}

.start-btn {
  background-color: transparent;
  padding: 0.3em 1em;
  padding-top: 0.1em;
  color: #00f;
  border: 2px solid #00f;
  border-radius: 0.6em;
  transition: 0.2s;
  font-family: "jedi";
  font-size: 4em;
}

.start-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
  animation: flicker 0.2s infinite;
}

@keyframes flicker {
  0% {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #00f,
      0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 75px #00f;
  }
  50% {
    box-shadow: 0 0 3px #fff, 0 0 7px #fff, 0 0 10px #fff, 0 0 15px #00f,
      0 0 20px #00f, 0 0 25px #00f, 0 0 35px #00f, 0 0 50px #00f;
  }
  100% {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #00f,
      0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 75px #00f;
  }
}

.start-btn:active {
  transform: scale(0.9);
}
