.btn-global-back {
  position: relative;
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 7px;
  font-family: "jedi-subtitle";
  font-size: clamp(10px, 1.1vw, 20px);
  letter-spacing: 0.5em;
  padding: 8px 8px 8px 15px;
  transition: 0.2s;
}

.btn-global-back:hover {
  background-color: var(--primary-color-shadow);
}
