.chr-container {
  width: 100%;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.chr-container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.chr-btn-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.chr-btn-page {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 7px;
  font-family: "jedi";
  font-size: clamp(10px, 1.1vw, 20px);
  width: clamp(20px, 2vw, 30px);
  height: clamp(25px, 2vw, 30px);
  transition: 0.2s;
}

.chr-btn-page:hover {
  background-color: var(--primary-color-shadow);
}

.current-page {
  background-color: var(--primary-color-shadow);
}

.chr-cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 190px);
  place-content: center;
  gap: 20px;
}
