.title-container {
  display: flex;
  position: relative;
  left: 50%;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: -1.5rem;
  min-width: 16em;
  opacity: 0;
  transform: translateX(-50%) translateY(100%) scale(5);
  transition: opacity 7s ease-in-out, transform 5s ease-in-out;
}

.title-container.visible {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.title-400 {
  font-family: "jedi-outline";
  font-size: 4em;
  color: #ffee58;
  line-height: 1.5;
}

.subtitle {
  font-family: "jedi-subtitle";
  font-size: 0.75em;
  margin-top: -1em;
  margin-bottom: -2em;
  letter-spacing: 0.7em;
}
