.btn-music {
  color: #ffee58;
  border: 1px solid #ffee58;
  transition: 0.2s;
  width: clamp(40px, 3.5vw, 80px); /* 40px; */
  height: clamp(40px, 3.5vw, 80px); /* 40px; */
  font-size: clamp(16px, 1.5vw, 35px);
}

.btn-music:hover {
  background-color: #aa9b168e;
  color: #fff495;
}
