.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 1em;
  box-shadow: 0 0 1.5em 0.1em #ffee58;
  opacity: 0.7;
  transition: 0.3s;
}

.card-container:hover {
  transform: scale(1.1);
  opacity: 1;
  cursor: pointer;
}

.card-container:active {
  transition: 0.1s;
  transform: scale(1);
}

.card-img {
  object-fit: cover;
  margin: auto;
  height: 100%;
}

.card-span {
  position: absolute;
  text-align: center;
  top: 60%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.719);
  color: white;
  font-size: 1.5em;
  font-family: "jedi";
}
