.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid var(--primary-color);
  opacity: 0.5;
  transition: all 0.3s ease;
  width: fit-content;
  height: fit-content;
}

.card-container:hover {
  transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
  opacity: 1;
  cursor: pointer;
  box-shadow: 0 0 1.5em 0.1em var(--primary-color);
  border: none;
}

.card-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent 10%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0) 95%
  );
  opacity: 0;
  transition: all 0.3s ease;
}

.card-container:hover::before {
  opacity: 1;
}

.card-container:hover .card-img-png {
  opacity: 1;
  transform: translateY(0) perspective(180px) rotateX(-10deg);
}

.card-container:active {
  transition: 0.1s;
  transform: scale(0.9) perspective(250px) rotateX(10deg) translateY(-5%)
    translateZ(0);
}

.card-img {
  position: relative;
  border-radius: 16px;
  object-fit: cover;
  margin: auto;
  width: 100%;
}

.card-img-png {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  transform: translateY(15%);
  transition: 0.3s ease;
  opacity: 0;
}

.card-span {
  position: absolute;
  top: 60%;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.719);
  color: white;
  font-size: 1.5em;
  font-family: "jedi";
}
