#btn-fav {
  position: fixed;
  top: 10px;
  right: 25px;
  color: #ffee58;
  border: 1px solid #ffee58;
  transition: 0.2s;
  font-family: "jedi-subtitle";
  font-size: clamp(12px, 1.5vw, 25px);
  letter-spacing: 0.5em;
  padding-right: 5px;
  width: clamp(130px, 16.25vw, 260px);
  height: clamp(40px, 5vw, 80px);
}

#btn-fav:hover {
  background-color: #aa9b168e;
  color: #fff495;
}

#offcanvasScrolling {
  background-color: black;
  color: white;
  width: 300px;
}

.btn-close {
  background-color: white;
}

.offcanvas-title {
  font-family: "jedi-outline";
  font-size: 1.5em;
}

.fav-category-span {
  font-family: "jedi";
  letter-spacing: 0.15em;
}

.fav-list {
  margin: 0;
  list-style-type: none;
  padding-left: 1em;
}
