#btn-fav {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: 0.2s;
  font-family: "jedi-subtitle";
  font-size: clamp(12px, 1.1vw, 22px);
  letter-spacing: 0.5em;
  padding-right: 5px;
  width: clamp(130px, 11.4vw, 240px);
  height: clamp(40px, 3.5vw, 80px);
}

#btn-fav:hover {
  background-color: var(--primary-color-shadow);
}

#offcanvasScrolling {
  background-color: black;
  color: white;
  width: 20%;
  min-width: 300px;
}

.btn-close {
  background-color: white;
}

.offcanvas-title {
  font-family: "jedi";
  font-size: 1.6em;
  color: var(--primary-color);
}

.fav-category-span {
  font-family: "jedi";
  letter-spacing: 0.1em;
  font-size: 1.2em;
}

.fav-list {
  margin: 0;
  list-style-type: none;
  font-size: 1.2em;
}

.fav-list-item-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.fav-list-item:hover {
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1.1);
  color: var(--primary-color);
}

.fav-list-item:active {
  transform: scale(1);
}

.fav-trash {
  opacity: 0;
  cursor: pointer;
}

.fav-list-item-container:hover .fav-trash {
  opacity: 1;
}

.fav-trash:hover {
  transition: 0.3s;
  transform: scale(1.2);
  color: var(--primary-color);
}

.fav-trash:active {
  transform: scale(1);
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
