#btn-fav {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: 0.2s;
  font-family: "jedi-subtitle";
  font-size: clamp(12px, 1.1vw, 22px);
  letter-spacing: 0.5em;
  padding-right: 5px;
  width: clamp(130px, 11.4vw, 240px);
  height: clamp(40px, 3.5vw, 80px);
}

#btn-fav:hover {
  background-color: var(--primary-color-shadow);
}

#offcanvasScrolling {
  background-color: black;
  color: white;
  width: 300px;
}

.btn-close {
  background-color: white;
}

.offcanvas-title {
  font-family: "jedi-outline";
  font-size: 1.5em;
}

.fav-category-span {
  font-family: "jedi";
  letter-spacing: 0.15em;
}

.fav-list {
  margin: 0;
  list-style-type: none;
  padding-left: 1em;
}
