.item-details-container {
  max-width: 100%;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item-details-info {
  display: flex;
  gap: 30px;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  align-self: center;
}

.item-details-info img {
  max-width: 50%;
  object-fit: cover;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.item-details-info div {
  display: flex;
  flex-direction: column;
  overflow-wrap: anywhere;
}

.item-details-info p {
  font-family: "biko";
  color: whitesmoke;
  font-size: 1.2em;
}

.item-details-info h1 {
  font-family: "jedi-subtitle";
  color: var(--primary-color);
  max-width: fit-content;
}

.item-details-info li {
  font-family: "biko";
  color: whitesmoke;
  font-size: 1.2em;
}

.item-details-info li::first-letter {
  text-transform: uppercase;
}

.clickeable {
  cursor: pointer;
  color: var(--primary-color) !important;
}

.item-details-info strong {
  font-size: 1.1em;
}

@media (max-width: 768px) {
  .item-details-info {
    flex-direction: column;
    padding: 10px 20px;
  }

  .item-details-info img {
    max-width: 100%;
    max-height: 300px;
    margin-bottom: 20px;
  }

  .item-details-info div {
    align-items: center;
  }

  .item-details-info h1 {
    font-size: 1.8em;
  }

  .item-details-info li {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .item-details-container {
    padding: 20px;
  }

  .item-details-info h1 {
    font-size: 1.5em;
  }

  .item-details-info li {
    font-size: 0.9em;
    text-wrap: wrap;
  }
}
