* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.main-container {
  position: absolute;
}
