.App {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.nav-container {
  position: relative;
  width: 100%;
  padding: 10px 25px;
  display: grid;
  grid-template-columns: 1fr minmax(260px, 1fr) 1fr;
  gap: 15px;
  justify-items: center;
}

.btn-music {
  justify-self: start;
}

.title-container {
  justify-self: center;
}

#btn-fav {
  justify-self: end;
}

@media (max-width: 613px) {
  .nav-container {
    grid-template-columns: 1fr 1fr;
  }
  .btn-music {
    grid-column: 1;
  }
  .title-container {
    grid-column: 1/3;
  }
  #btn-fav {
    grid-column: 2;
    grid-row: 1;
  }
}
