@import "./assets/fonts/fonts.css";

:root {
  --primary-color: #ffe820;
  --primary-color-shadow: #958c0ede;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "biko";
  font-size: 1em;
}

body {
  position: relative;
  background-color: black;
  min-width: 330px;
}

.star-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hyper-space {
  position: fixed;
  width: 100%;
  height: 100%;
}

.start-btn {
  z-index: 2;
}

/* clase para elementos que van a estar sobre el background de estrellas */
.foreground {
  z-index: 2;
}
