@import "./assets/fonts/fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "biko";
  font-size: 1em;
}

body {
  position: relative;
  background-color: black;
}

.star-background {
  position: fixed;
  z-index: 1;
}

.hyper-space {
  position: fixed;
}

.start-btn {
  z-index: 1;
}

#btn-fav,
.btn-music,
.card-container {
  z-index: 2;
}
