@import "./assets/fonts/fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "biko";
  font-size: 1em;
}

body {
  position: relative;
  z-index: -30;
  background-color: black;
}

.star-background {
  position: fixed;
  z-index: 10;
}

#btn-fav,
.card-container,
.btn-music,
.start-btn {
  z-index: 20;
}
